<% include partials/header %>
    <main class="container">
        <form action="/newpost" method="POST">
            <div class="row my-3">
                <div class="col">
                    <input type="text" class="form-control" name="title" placeholder="Post Title">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="permalink" placeholder="Permalink">
                </div>
                <div class="col">
                        <input type="text" class="form-control" name="author" placeholder="Author Name">
                    </div>
            </div>
            <div class="form-row form-group mx-1">
                <label for="postContent">Post Content:</label>
                <textarea class="form-control" id="postContent" name="postContent"></textarea>
            </div>
            <div class="form-row mx-1">
                 <button type="submit">Save Post</button>
            </div>
        </form>
    </main>
    <% include partials/footer %>