<% include partials/header %>
<main class="container">
    <article>
        <h1><%= post.title %></h1>
        <div>
            <%- post.postContent %>
        </div>
</main>
<% include partials/footer %>